<style>
  .conthomep3 {
    width: 100vw;
    min-height: 100vh;
    background-color: #D9D9D6;
    position: relative;
  }
  .contheadhom31 {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 20;
  }
  .hom31red {
    font-size: 3rem;
    color: red;
  }
  .hom31orange {
    font-size: 3rem;
    color: orange;
  }
  .contexthom31 {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 60vh;
    width: 100vw;
  }
  .contenthom31 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 500px;
  }

  .contenthom31 p{
    font-size: 1.2rem;
    margin-bottom: 30px ;
  }
  .contenthom31 span{
    border: 2px solid orange;
    padding: 20px;
  }

  .imghom31 {
    position: absolute;
    top: 30%;
    right: 20%;
    padding: 20px;
    background-color: #D9D9D6;
  }
  .imghom31 img{
    width: 400px;
  }
</style>

<div class="conthomep3">
  <div class="contheadhom31">
    <h1 class="hom31red">INDULGE IN</h1>
    <h1 class="hom31orange">ROYALITY</h1>
  </div>
  <div class="contexthom31"></div>
  <div class="contenthom31">
    <p>Fegance and Tradition, unveiled at Theni Anantham Skills. When it comes to wedding attrie. Subhalaya silk sarees from Theni Anantham silks, it stands at a timeless embodiment of .....</p>
    <span>Read More</span>
  </div>
  <div class="imghom31">
    <img src="{{ 'fram 2 with Backround Work.jpg' | asset_img_url: 'large' }}" alt="saree" />
  </div>
</div>