<style>
  .footertheni {
    display: flex;
    width: 100vw;
    height: vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
</style>
<div class="footertheni">
  <h1>{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext_html' | t }}</p>
</div>